@import url("https://fonts.googoleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&dsiplay=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}






